.wrapper {
    width: 60%;
    margin: 0 auto;
}
.form_div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.content_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
form {
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
}